{namespace templates.infoWindow}

{template .getMarkerInfo}
  {@param name: string}
  {@param description: string}
    <div id="return">
    <h2>{$name}</h2>
    <p>{$description}</p>
    </div>
{/template}
