aside.mdc-drawer {
    height: 100vh;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
}

.calendar-iframe {
    border: 0;
    height: 100%;
    width: 100%;
}

.currGroup {
    background-color: #e2e2e2;
}


div.mdc-list-item.mdc-list-item--activated {
    cursor: default;
}

.group-label {
    font-size: 12pt;
}

.groups-headline {
    color: #696969;
    margin: 10px 0;
    padding: 0 16px;
}

#hours {
  padding-right: 5px;
}

i.material-icons.mdc-list-item__graphic.nav-icon {
    margin: 0;
}

.icon-links {
  text-decoration: none;
}

.main-content {
    overflow: auto;
    height: 100%;
    width: 100%;
}

#minutes {
  padding-left: 5px;
}

.nav-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}

.no-groups-error {
    margin: auto;
    text-align: center;
}

.time {
  width: 50%;
}
