body {
    overflow: scroll;
    text-align: center;
}

h1 {
    font-size: 48pt;
}

.text-highlight {
    background-color: white;
    margin: auto;
    width: 750px;
}

.img-container {
    align-items: center;
    /* Photo by Lerone Pieters on Unsplash (https://unsplash.com/@thevantagepoint718?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText) */
    background: url("images/lerone-pieters.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.text-container {
    align-items: center;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.mission-statement {
    font-size: 24pt;
    width: 750px;
}

#btn-link {
    text-decoration: none;
}

.mdc-button.mdc-button--raised {
    height: 50px;
}

.mdc-button__label {
    font-size: 14pt;
}
